# ======= BACKEND (Node.js) - WAJIB! =======
Backend/private.pem
Backend/database.sqlite
Backend/*.log
Backend/package-lock.json
Backend/test.php

# ======= FRONTEND (PHP) =======
Frontend/vendor/
Frontend/composer.lock

# ======= SISTEM / IDE =======
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log